body {
    text-align: center;
    background-color: transparent;
    max-width: 100%;
    overflow-x: hidden;   
    background-color: antiquewhite;
}

h1 {
    font-family: 'Tangerine', cursive; /* Use 'cursive' as a fallback font */
}

p {
    font-family: 'Playfair Display', serif;
}

#music-container {
    position: relative;
    top:40%;
    bottom: 0;
    left: 0.1%;
    right: 0;
    margin: auto;
}

@keyframes notesAnimation {
    from {left: 105%;}
    to {left:  50px;}
}

.note {
    position: absolute;
    width: 50px;
    animation-name: notesAnimation;
    animation-duration: 5.082s;
    animation-timing-function: linear;
    right: 110%;
}

.rest {
    position: absolute;
    width: 30px;
    animation-name: notesAnimation;
    animation-duration: 5.082s;
    animation-timing-function: linear;
    right: 110%;
}

#mute-button {
    display: none;
}
#unmute-button {
    display: none;
}

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  #menu {
    width: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  #reload {
    width: 30px;
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .button:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    filter: invert(67%) sepia(7%) saturate(7181%) hue-rotate(93deg) brightness(95%) contrast(95%);
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    font-size: 20px;
    max-height: 30%;
    overflow: auto;
    font-family: 'Playfair Display', serif;
  }
  
  @media screen and (max-width: 1500px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }