body {
    text-align: center;
    background-color: transparent;
    max-width: 100%;
    overflow-x: hidden;   
    background-color: antiquewhite;
}

h1 {
    font-family: 'Tangerine', cursive; /* Use 'cursive' as a fallback font */
}

p {
    font-family: 'Playfair Display', serif;
}

#music-container {
    position: relative;
    top:40%;
    bottom: 0;
    left: 0.1%;
    right: 0;
    margin: auto;
}

@keyframes notesAnimation {
    from {left: 105%;}
    to {left:  50px;}
}

.note {
    position: absolute;
    width: 50px;
    animation-name: notesAnimation;
    animation-duration: 5.082s;
    animation-timing-function: linear;
    right: 110%;
}

.rest {
    position: absolute;
    width: 30px;
    animation-name: notesAnimation;
    animation-duration: 5.082s;
    animation-timing-function: linear;
    right: 110%;
}

#mute-button {
    display: none;
}
#unmute-button {
    display: none;
}